//  colors

$primary: rgba(5, 166, 58 ,1);

$secoundary: rgba(161, 247, 161 ,1);

$mint: rgba(166, 232, 187 ,1);

$dark: rgba(4, 22, 4 , 1);

$white: rgb(255,255,255);

// text colors

$text-white: $white

